# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.swp

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Generated data
*.parquet

# Data that's too big
leda_raw.tsv
archive/*.tsv
